Django==5.2.14
django-allauth==65.18.0
django-background-tasks==1.2.8
django-browser-reload==1.21.0
django-csp==4.0
django-ratelimit==4.1.0
django-simple-history==3.11.0
django-tailwind==4.4.2
gunicorn==26.0.0
psycopg[binary]==3.3.4
redis==8.0.0
ruff==0.15.15
whitenoise==6.12.0
