<!-- templates/_base.html -->
{% load compress %}
{% load django_browser_reload %}
{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default Application Title</title>
    {% compress css %}
    {% tailwind_css %}
    {% endcompress %}
  </head>
  <body class="bg-blue-100">
    {% block content %}
    {% endblock content %}

    {% compress js %}
        <script type="text/javascript" src="{% static 'js/htmx.js' %}"></script>
    {% endcompress %}
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
      </script>
      {% django_browser_reload_script %}
  </body>
</html>